<header>
  <h2>Welcome to Chores!</h2>
</header>
<body>
  <p>
    You have successfully signed up for Chores! Now get to it!
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
<p>Love,</p>
<p>Mom</p>
