<%= menu_item "New Chore", new_chore_path, class: 'btn-lg btn-info btn-block text-center' %>
<br>
<script>
  $(document).ready(function() {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
   
   $('#calendar').fullCalendar({
   editable: true,
   header: {
     left: 'prev,next today',
     center: 'title',
     right: 'month,agendaWeek,agendaDay'
   },
   defaultView: 'agendaWeek',
   slotMinutes: 15,
   loading: function(bool){
     if (bool)
       $('#loading').show();
     else
       $('#loading').hide();
   },
   timeFormat: 'h:mm t ',
   dragOpacity: "0.5",
  
   events: {
    url: '/chores',
    type: 'GET',
    error: function() {
      alert('there was an error while fetching events!');
    },
    
   backgroundColor: 'blue',
   textColor: 'white'
   }
   });
   });
</script>

<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>

